<div class="info-pool">
  <div class="tile">
    <div class="header-tile">
      <p class="title">Status</p>
      <span class="dot"></span>
    </div>
    <p class="content">Waiting</p>
  </div>
  <div class="tile">
    <div class="header-tile">
      <p class="title">Total Pool</p>
      <img src="assets/img/eth-blue.svg" />
    </div>
    <p class="content">15 ETH</p>
  </div>
  <div class="tile">
    <div class="header-tile">
      <p class="title">Total Users</p>
      <img src="assets/img/users.svg" />
    </div>
    <p class="content">7</p>
  </div>
</div>
<div class="info-user">
  <div class="start">
    <div>
      <p class="title">Account</p>
      <p class="content">0xC40349a78282d4Fc05f0EAE990D9047b2Eb8d58e</p>
    </div>
    <div>
      <p class="title">Collateral</p>
      <p class="content">1 ETH</p>
    </div>
    <div>
      <p class="title">Exchange</p>
      <img src="assets/img/binance.png">
    </div>
  </div>
  <div class="end">
    <button class="btn btn-danger">Withdraw</button>
  </div>
</div>
